@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
}

body{
    margin:0;
	font-family: 'Montserrat', sans-serif !important;
}

#login, #loggedin {
        display: none;
      }

  .text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 500px;
  }

.navbar-default{
	margin: 0px !important;
	padding: 0px !important;
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right, #ffda23 , #ff2323, #FF23C0) !important; /* Standard syntax (must be last) */
	color: white !important;
	position: relative;
    z-index:1;
}
/*
.navbar-nav > li > a:hover {
   background-color:rgba(255, 99, 71, 0.5);
}

.navbar-nav > li > a:active {
   background-color:rgba(255, 99, 71, 0.5);
} */

.navbar-nav > li > a:hover {
   background-image: linear-gradient(#ff2323, #ff2323);
}

.navbar-default .navbar-nav > li > a:active {
   background-image: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,1));
}


#full-page-1{
	background-image: linear-gradient(to right, #ffda23 , #ff2323, #FF23C0) !important; /* Standard syntax (must be last) */
	color: white;
}

