@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
}

body{
    margin:0px;
	font-family: 'Montserrat', sans-serif !important;
}

.center-pane-margin{
	margin-top: 100px !important;
}

#login, #loggedin {
        display: none;
      }

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 500px;
  }

.navbar{
    border: 0 !important;
}

.navbar-default{
	margin: 0px !important;
	padding-left: 80px !important;
    padding-right: 80px !important;
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right, #ffda23 , #ff2323, #FF23C0) !important; /* Standard syntax (must be last) */
	color: white !important;
	position: relative;
    z-index:1;
}

.navbar-nav > li > a:hover {
   background-image: linear-gradient(#ff4bcb, #ff4bcb);
}

.navbar-nav > li > a:active {
   background-image: linear-gradient(#ff4bcb, #ff4bcb);
}

.navbar-nav > li > a:focus {
   background-image: linear-gradient(#ff4bcb, #ff4bcb);
}


#full-page-1{
	background-image: linear-gradient(to right, #ffda23 , #ff2323, #FF23C0) !important; /* Standard syntax (must be last) */
	color: white;
}

.btn-lightred{
	background-color: #FF6C6C !important;
	border-color: #FF6C6C !important;
	color: white;
}

.profile-img {
  border-radius: 50%;
  border: 5px solid white;
}

.profile-bk{
	background-image: linear-gradient(rgba(255,218,35,1), rgba(255,218,35,0.2));
	height: 400px;
	padding: 50px 0px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	line-height: 1em;
}

.profile-stats{
	line-height: 1em;
	padding: 15px 15px 0px 10px;
	line-height: .9em;
}

.profile-col{
	border: 1px solid #ffda23;
	border-radius: 25px;
}

.dummy-pat-2 {
	background-image: linear-gradient(to bottom left, #ffda23, #FF23C0);
	width: 100%;
	height: 250px;
	border-radius: 25px;
}

.tab-nav-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.tab-content-wrapper{
	padding: 10px;
}

.tab2-c, .tab3-c, .tab4-c{display:none;}


.tab-nav-wrapper > ul > li {
  display: inline;
  text-align: center;
}

.tab-nav-wrapper > ul > li > a {
  display: inline-block;
  width: 25%;
  padding: .50rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.tab-button-one.current ~ hr, ul li.tab-button-one:hover ~ hr {
  margin-left: 0%;
}

.tab-button-two.current ~ hr, li.tab-button-two:hover ~ hr {
  margin-left: 25%;
}

.tab-button-three.current ~ hr, .tab-button-three:hover ~ hr {
  margin-left: 50%;
}

.tab-button-four.current ~ hr, .tab-button-four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  padding: 0;
  background: #ffda23 !important;
  border: none;
  transition: .3s ease-in-out;
}

/* loader source: https://loading.io/css/ */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px; 
}
.lds-ripple div {
  position: absolute; 
  border: 4px solid #FF23C0;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.gradient-text{
	background-image: -webkit-gradient(linear,0% 0%,25% 100%,from(#ff2323),to(#FF23C0));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
