<h4><span style="color:gray">Top Tracks</span></h4>
<p><i class="fas fa-music" style="color: #ffda23"></i> {{items.0.name}}</p>
<p><i class="fas fa-music" style="color: #ffda23"></i> {{items.1.name}}</p>
<p><i class="fas fa-music" style="color: #ffda23"></i> {{items.2.name}}</p>
<br>